<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Home</title>
    <!-- <link rel="stylesheet" href="/css/styles.css"> Assuming you have a CSS file for styling -->
    <style>
      /* Fonts */
      @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
      @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
      @import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

      /* Reset default margin and padding */
      * {
        box-sizing: border-box;
        font-family: "Poppins", sans-serif;
      }
      body {
        margin: 0;
        padding: 0;
        background-color: #292929;
        color: #ffffff;
      }
      .admin-container {
        display: flex;
        justify-content: space-around;
        margin-bottom: 10px;
      }
      .left-container {
        width: 23%;
        background: #202020;
        padding: 20px;
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
        border-radius: 30px;
        height: min-content;
      }
      .left-container a {
        display: block;
        margin-bottom: 15px;
        padding: 10px;
        text-decoration: none;
        color: #333;
        background: #ddd;
        border-radius: 30px;
        text-align: center;
        font-weight: bold;
      }
      .left-container a:hover {
        background: #3979b4;
        color: #ffffff
      }
      .right-container {
        width: 73%;
        padding: 20px;
        background: #202020;
        border-radius: 30px;
      }
      .welcome {
        text-align: center;
        margin: 20px;
      }

      #name {
        color: #006aff;
      }
    </style>
  </head>

  <body>
    <%- include('../partials/admin-header') %>

    <h1 class="welcome">Welcome, <span id="name"><%= adminName %></span>!</h1>
    <div class="admin-container">
      <div class="left-container">
        <a href="#" class="button" id="dashboard-btn">Dashboard</a>
        <a href="/admin/addDestination" class="button">Add Destination</a>
        <a href="/admin/addHotel" class="button">Add Hotel</a>
        <a href="/adminDashboard/query" class="button" id="query-btn">Query</a>        
        <a href="/adminDashboard/manage-hotel" class="button">Manage Hotels</a>
        <a href="/adminDashboard/manage-destination" class="button">Manage Destinations</a>
        <!-- Add more buttons for other actions as needed -->
      </div>
      <div class="right-container" id="content-container">
        <%- include('../partials/dashboard', { totalHotels: totalHotels,
        totalDestinations: totalDestinations, totalBookings: totalBookings,
        totalPassengers: totalPassengers }) %>
      </div>
    </div>
  </body>
  <script src="/js/userScript.js"></script>
</html>
