<footer class="footer">
    <div class="footer-left">
        &copy; 2024 Travel Together. All rights reserved.
    </div>
    <div class="footer-right">
        <a href="#">Privacy Policy</a> |
        <a href="#">FAQ</a> |
        <a href="#">Terms and Conditions</a>
    </div>
</footer>